@charset "UTF-8";
div.body{
	width:50%;
	height:200px;
	background-color:gray;
	margin:auto;
	display:block;
	opacity:0.4;
}
div.com{
	width:40%;
	height:100px;
	background-color:white;
	margin-top:-20px;
	box-shadow: 5px 5px 5px #888888;
	vertical-align:middle;
	
}
div.com h1{
	text-align:center;
	margin-top:-20px;
}